<div class="card" style="width: 18rem;">
    <img src="/eu.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Minha Pessoa</h5>
        <p class="card-text">Olá meu nome é Gustavo M Fava sou desenvolvedor Full-Stak e tenho 21 ano </p>
    </div>
    <ul class="list-group list-group-flush">
        <a href="https://github.com/Gustavo123350">Gith-Hub</a>
        <a href="https://www.facebook.com/gustavofava.13/">Facebook</a>
        <a  href="https://www.instagram.com/gustavo.fava13/?hl=pt-br">Instagran</a>
    </ul>
</div> 